:root {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 500;
  color: #f5f6fa;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.page-wrapper {
  height: 100vh;
}

.page-content {
  position: relative;
  top: 70px;
  width: 100%;
  height: calc(100%-70px);
  scroll-snap-type: y mandatory;
}
